.body-padding { /*giving padding to the body top and bottom so it does not fall under navbar or footer*/
	padding-top: 75px;
	padding-bottom: 5em;
}

hr.line-break { /*gradient line break between sections*/
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #FFFFFF, #eee, #FFFFFF);
}

/*text styling*/
	.font { 
		font-family: 'Shadows Into Light', cursive;
		background-color: #e6e8ed;
	}

	.grey-text {  /*making text grey*/
		color: grey;
	}

	.black-text {  /*making text black*/
		color: black;
	}

	.dropdown-menu>li>a {
		color: grey;
	}

	.photo-info {
		text-align: center;
		position: absolute;
		bottom: initial;
		width: 90%;
		font-size: 110%;
	}

	/*heading styling*/
	h1 {
		font-size: 4em;
		text-decoration: underline;
		font-weight: bolder;
		text-align: center;
	}
	#about {
		margin-top: 0px;
	}
	.about-h2 {
		text-decoration: underline;
		font-weight: bold;
		font-size: 3em;
		text-align: center;
	}
	h3 {
		text-align: center;
		font-size: 3em;
	}
	/*heading styling ENDS*/
/*text styling ENDS*/

/*NAVIGATION BAR*/
	.nav-font-size { /*font size within navigation bar*/
		font-size: 1em;
	}

	.nav-transparent { /*making the full navbar and footer transparent*/
		background-color: rgba(255, 255, 255, 0.9);
		margin-bottom: 0px;
	}

/*container styles*/
	.container-width { /*restricting the width of the container*/
		width: 90%;
	}

	.image-container { /*adding margin and padding to images within container*/
		margin: auto;
		padding: 15px;
		position: relative;
		display: inline-block;
	}

	.white-box {
		background-color: white;
		padding: 10px;
		max-width: 900px;
		margin: auto;
	}
/*container styles END*/

/*LINK STYLING*/
	a:link {
		color: black;
	}
	a:visited {
		color: black;
	}
	a:hover {
		text-decoration: underline;
		color: darkorange;
	}
	a:active {
		text-decoration: underline;
	}
/*LINK STYLING ENDS*/

/*about page*/
.date { /*text format for resume page dates*/
	font-size: 2.5em;
}
.list { /*text format for resume page list*/
	font-size: 1.5em;
}
.magazine { /* removing bullet for resume page magazine image*/
	list-style: none;
}
.mag-img { /*image format for resume page photo*/
	max-width: 30%;
}
.about-img {
	margin: auto;
	padding-bottom: 15px;
}
.center {
	text-align: center;
}
.blurb > p {
	font-size: 1.4em;
	text-align: center;
	max-width: 800px;
	margin: auto;
	padding: 10px;
}
#exhibitions {
	border-right: 1px solid white;
}

.btn-color {
	color: white; 
	background-color: grey;
	border-color: grey;
}
.btn-color:hover {
	color: white;
	background-color: darkorange;
	border-color: darkorange;
	text-decoration: underline;
	font-style: italic;
}

/*footer styling*/
	footer { /*giving height to the footer*/
		height: 2.5em;
	}

	.footer-center { /*vertically centers text within footer*/
	    margin: 0;
	    position: absolute;
	    top: 50%;
	    transform: translate(0, -50%);
	    width:100%;
	}
/*footer styling ENDS*/

}

/*index page*/
.home-title {
	font-size: 50px;
}

.home-nav-links {
	list-style: none;
	color: black;
	font-size: 30px;
}

.home-transparent-box {
	background-color: rgba(255,255,255,0.5);
	opacity: 1;
	padding: 50px;
}

.vert-center {
	vertical-align: middle;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.site-wrapper {
		background-image: url("backgrounds/background3.jpg");
	}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.site-wrapper {
		background-image: url("backgrounds/background3.jpg");
	}

}

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: 922px) {
	.site-wrapper {
		background-image: url("backgrounds/background-sm.jpg");
	}

}*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: 1200px) {
	.site-wrapper {
		background-image: url("backgrounds/background-md.jpg");
	}

}*/
