body { /*giving padding to the body top and bottom so it does not fall under navbar or footer*/
	padding-top: 75px;
	padding-bottom: 2.5em;
}


hr.line-break { /*gradient line break between sections*/
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #FFFFFF, #eee, #FFFFFF);
}

/*text styling*/
	.font { 
		font-family: 'Shadows Into Light', cursive;
		background-color: #e6e8ed;
	}

	.grey-text {  /*making text grey*/
		color: grey;
	}
	.dropdown-menu>li>a {
		color: grey;
	}

	/*heading styling*/
	h1 {
		font-size: 4em;
		text-decoration: underline;
		font-weight: bolder;
		text-align: center;
	}
	.about-h2 {
		text-decoration: underline;
		font-weight: bold;
		font-size: 3em;
	}
	h3 {
		text-align: center;
		font-size: 3em;
	}
	/*heading styling ENDS*/
/*text styling ENDS*/

/*NAVIGATION BAR*/
	.nav-font-size { /*font size within navigation bar*/
		font-size: 1em;
	}

	.nav-transparent { /*making the full navbar and footer transparent*/
		background-color: rgba(255, 255, 255, 0.9);
	}

/*container styles*/
	.container-width { /*restricting the width of the container*/
		width: 90%;
	}

	.image-container { /*adding margin and padding to images within container*/
		margin: auto;
		padding: 15px;
		position: relative;
		display: inline-block;
	}
/*container styles END*/

/*LINK STYLING*/
	a:link {
		color: black;
	}
	a:visited {
		color: d#333;
	}
	a:hover {
		text-decoration: underline;
		color: darkorange;
	}
	a:active {
		text-decoration: underline;
	}
/*LINK STYLING ENDS*/

/*about page*/
.date { /*text format for resume page dates*/
	font-size: 2.5em;
}
.list { /*text format for resume page list*/
	font-size: 1.5em;
}

.magazine { /* removing bullet for resume page magazine image*/
	list-style: none;
}
.mag-img { /*image format for resume page photo*/
	max-width: 30%;
}

/*footer styling*/
	footer { /*giving height to the footer*/
		height: 2.5em;
	}

	.footer-center { /*vertically centers text within footer*/
	    margin: 0;
	    position: absolute;
	    top: 50%;
	    transform: translate(0, -50%);
	    width:100%;
	}
/*footer styling ENDS*/